@import "reset";
@import "typography";


$primary-color:#E32910;
$body-font: "JetBrains Mono";
$body-size: 24px;
$mq-large: 800px;
$mq-medium: 600px;

@mixin drop-shadow($color){
    box-shadow:0 0 10px $color;
}

@mixin mq($width){
    @media (max-width:$width){
        @content;
    }
}

@mixin vertically-middle(){
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}

body{
    background-color: $primary-color;
    color:#EAF2F1;
    font-family:$body-font;
    font-size:$body-size;
    line-height: 1.5;
    height:100vh;


    @include vertically-middle();


}

section{
    width:800px;

    @include mq($mq-medium){
        width:350px;
        font-size:16px;
    }


    p{
        margin:36px 10px 10px;

    }
}